version: '3.8'
services:
  openclaw-bot:
    build: .
    container_name: openclaw_telegram_bot
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - OPENAI_API_KEY=
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
